body {
  background-image: url("../images/wood_floor_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2e2e1f;
}

.productText {
    text-align: left;
    font-family: sans-serif;
}

#productList{
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 48px;
  color: #004080;
}

.navbar {
  background-color: #000000;
  border-color: transparent;
}

.active {
  font-weight: bold;
}

.navbar-brand{
  font-family: sans-serif;
  font-size: 36px;
}

#storeName {
  color: #cc7a00;
  font-weight: bold;
}